#
# ~/.gitconfig
#

[user]
    email = fro_ozen@gmx.de
    name = fro_ozen

[push]
    default = current

[alias]
    graph = log --oneline --graph
    commit-count = rev-list HEAD --count

    c  = commit -v
    ca = commit --amend
    a  = add
    r  = remove
    b  = branch
    co = checkout
    nb = checkout -b
    g  = log --oneline --graph --all
    s  = status -bs
    d  = diff
    ps = push
    pl = pull
    pso = push origin
    plo = pull origin
    st = stash
    sa = stash apply
    ri = rebase -i
    rc = rebase --continue

[core]
    editor = vim

[pull]
    rebase = true
