#
# ~/.gitconfig
#

[user]
    email = fro_ozen@gmx.de
    name = fro_ozen

[alias]
    graph = log --oneline --graph
    commit-count = rev-list HEAD --count

    c  = commit
    ca = commit --amend
    a  = add
    r  = remove
    b  = branch
    g  = log --oneline --graph
    s  = status
    d  = diff
    ps = push
    pl = pull
    st = stash
    sa = stash apply
    ri = rebase -i
    rc = rebase --continue

[core]
    editor = vim
