!
! ~/.Xressources
!

ALock.Background.Shade.Mono: true
ALock.Background.Shade.Shade: 30
ALock.Background.Shade.Blur: 20
ALock.Input.Frame.Width: 1

rofi.font:      tewi 9
rofi.lines:     25
rofi.terminal:  termite

!                  bg       fg       bgalt    hlbg     hlfg
rofi.color-normal: #141414, #eeeeee, #141414, #6074c8, #eeeeee
!                  background border
rofi.color-window: #141414,   #6074c8
